In [1]:
wife = {'name': 'Rose', 'age': 33}

In [2]:
f'My wife name is {wife.get('name')}'

'My wife name is Rose'

In [4]:
f'She is {wife.get('age')} years old.'

'She is 33 years old.'

In [1]:
'''hello
i am akshay
'''
print(10)

10

In [5]:
wife.pop('name')

'Rose'

In [6]:
wife.pop('age')

33

In [10]:
'name' in wife.keys()

False

In [11]:
import pprint as pp

In [20]:
wife = {'name': 'Rose', 'age':33, 'has_hair':True, 'hair_color': 'brown', 'height':4.11, 'eye_color':'brown'}
pprint.pp(wife)

{'name': 'Rose',
 'age': 33,
 'has_hair': True,
 'hair_color': 'brown',
 'height': 4.11,
 'eye_color': 'brown'}

In [21]:
planet = {
    'name' : 'Mars',
    'moons' : 2
}

planet

{'name': 'Mars', 'moons': 2}

In [26]:
f'{planet["name"]} has {planet["moons"]} moon(s)'

'Mars has 2 moon(s)'

In [27]:
planet['circumference (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

print(f'{planet["name"]} has a polar circumference of {planet["circumference (km)"]["polar"]}')

Mars has a polar circumference of 6752

In [28]:
planet

{'name': 'Mars',
 'moons': 2,
 'circumference (km)': {'polar': 6752, 'equatorial': 6792}}

In [29]:
rainfall = {
    'october': 3.5,
    'november': 4.2,
    'december': 2.1
}

In [30]:
for key in rainfall.keys():
    print(f'{key}: {rainfall[key]}cm')

october: 3.5cm
november: 4.2cm
december: 2.1cm

In [31]:
if 'december' in rainfall:
    rainfall['december'] = rainfall['december'] +1
else:
    rainfall['december'] = 1

In [32]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [33]:
planet_moons

{'mercury': 0,
 'venus': 0,
 'earth': 1,
 'mars': 2,
 'jupiter': 79,
 'saturn': 82,
 'uranus': 27,
 'neptune': 14,
 'pluto': 5,
 'haumea': 2,
 'makemake': 1,
 'eris': 1}

In [46]:
moons = planet_moons.values()
total_planets = len(planet_moons.keys())

In [41]:
moons

dict_values([0, 0, 1, 2, 79, 82, 27, 14, 5, 2, 1, 1])

In [47]:
total_planets

12

In [50]:
total_moons = 0
for moon in moons:
    total_moons = total_moons+moon

average = total_moons/total_planets

print(f'{average} moons')

17.833333333333332 moons

In [51]:
wife = {'name':'Rosy', 'age': 33, 'hair': 'long', 'eyes': 'brown'}
wife

{'name': 'Rosy', 'age': 33, 'hair': 'long', 'eyes': 'brown'}

In [52]:
wife.pop('age')

33

In [53]:
wife

{'name': 'Rosy', 'hair': 'long', 'eyes': 'brown'}

In [56]:
wife.pop('hair')

'long'

In [57]:
wife

{'name': 'Rosy', 'eyes': 'brown'}

In [59]:
amount = 10000
if(amount > 2999):
    print("You are eligible to purchase Dsa Self Paced")

You are eligible to purchase Dsa Self Paced

In [4]:
a = [1, 2, 3]
try: 
    print ("Second element = %d" %(a[1]))
 
    print ("Fourth element = %d" %(a[3]))
 
except:
    print ("An error occurred")

Second element = 2
An error occurred

In [5]:
try: 
	raise NameError("Hi there")
except NameError:
	print ("An exception")
	raise

An exception

NameError: Hi there

In [3]:
st = 'Akshay'
print(st.upper())

AKSHAY

In [4]:
len(st)

6

In [7]:
st[0:5:2]

'Asa'

In [10]:
age = 36
txt = f"My name is Akshay, I am {age}" 
print(txt)

My name is Akshay, I am 36

In [1]:
print(10)

10

In [3]:
n = int(input("Enter a Value:"))
a, b = 0, 1
print("Fibonacci Series:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Fibonacci Series:
0 1 1 2 3 5 8 13 21 34

In [5]:
arr = [1,2,3,1,2,4,5,6,6,7,9,8,9,10]

try:
    uni_val = set(arr)

    filtered_arr = list(uni_val)

print(filtered_arr)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
arr = [1, 2, 3, 2, 4, 5, 3, 6, 1]
unique_array = []

try:
    for item in arr:
        if item not in unique_array:
            unique_array.append(item)

    print(unique_array)  # Output: [1, 2, 3, 4, 5, 6]
    print(arr)
except Exception as e:
    print(f"An error occurred: {e}")
    # Handle the error gracefully, e.g., logging, notifying the user, etc.

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 2, 4, 5, 3, 6, 1]

In [18]:
def is_prime(num):
    if num <=1:
        return False
    for i in range(2,num):
        if num%i == 0:
            return False
    return True

number = int(input())
for number in range(2,number+1):
    if is_prime(number):
        print(number, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [10]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

for number in range(2, 101):
    if is_prime(number):
        print(number, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [23]:
def is_prime(num):
    if num <=1:
        return False
    for i in range(2,num):
        if num%i == 0:
            return False
    return True

number = int(input())

if is_prime(number):
    print("The number is prime number")
else:
    print("The given number is not a prime number")

The given number is not a prime number

In [1]:
a = [1,2,'Akshay','Rohit',3,4]
print(a)

[1, 2, 'Akshay', 'Rohit', 3, 4]

In [2]:
len(a)

6

In [3]:
a[2]

'Akshay'

In [4]:
type(a)

list

In [5]:
print(type(a))

<class 'list'>

In [7]:
print(a[0:3])

[1, 2, 'Akshay']

In [11]:
if "Akshay" in a:
    print("Yes")
else:
    print("No")

Yes

In [12]:
a.insert(6,"Lakshmi")

In [13]:
a

[1, 2, 'Akshay', 'Rohit', 3, 4, 'Lakshmi']

In [14]:
a.insert(7,"Venkata Rao")
a

[1, 2, 'Akshay', 'Rohit', 3, 4, 'Lakshmi', 'Venkata Rao']

In [15]:
a.append("Family")
a

[1, 2, 'Akshay', 'Rohit', 3, 4, 'Lakshmi', 'Venkata Rao', 'Family']

In [30]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

In [31]:
thislist

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [32]:
tropical

['mango', 'pineapple', 'papaya']

In [20]:
tropical.pop(2)

'papaya'

In [33]:
tropical

['mango', 'pineapple', 'papaya']

In [34]:
tropical.remove("mango")

In [35]:
tropical

['pineapple', 'papaya']

In [36]:
del tropical[0]

In [37]:
tropical

['papaya']

In [38]:
del thislist

In [41]:
b = [1,2,"Akshay","Rohit"]
for x in b:
    print(x)

1
2
Akshay
Rohit

In [44]:
for i in range(len(b)):
    print(b[i])

1
2
Akshay
Rohit

In [69]:
fruits = ['apple','banana','cherry','kiwi','mango','orange']
newlist = []

for x in fruits:
    if x not in newlist:
        newlist.append(x)

In [70]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange']

In [71]:
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange']

In [49]:
l1 = [x for x in range(10)]

In [50]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
l2 = [x for x in range(10) if x < 6]
l2

[0, 1, 2, 3, 4, 5]

In [53]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

In [54]:
thislist

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [55]:
this1 = [2,4,1,5,3,10,6,8,9,7]
this1.sort()
print(this1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
this1.sort(reverse=True)

In [57]:
this1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [73]:
mylist2 = thislist.copy()
print(mylist2)

['apple', 'banana', 'cherry']

In [75]:
l1 = ['a','b','c']
l2 = [1,2,3]
for x in l1:
    l2.append(x)

print(l2)

[1, 2, 3, 'a', 'b', 'c']

In [76]:
l1.extend(l2)
l1

['a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

In [77]:
ages = [18,20,26,101,128]
d = {age:("young" if age <=100 else "old") for age in ages}
d

{18: 'young', 20: 'young', 26: 'young', 101: 'old', 128: 'old'}

In [78]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

In [79]:
my_dict.keys()

dict_keys(['a', 'b', 'c'])

In [80]:
my_dict.values()

dict_values([1, 2, 3])

In [81]:
my_dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [82]:
my_dict.get('b')

2

In [83]:
my_dict.pop('b')

2

In [84]:
my_dict

{'a': 1, 'c': 3}

In [87]:
s2 = [x**2 for x in range(1,101)]
print(s2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [104]:
dic = {
    'Brand':['Ford','Board','Nord'],
    'Model': ['Musutang','Gistang','Dustang'],
    'Year' : [2024,2023,2022],
    'Colors':['red','blue','white']
}

In [105]:
dic

{'Brand': ['Ford', 'Board', 'Nord'],
 'Model': ['Musutang', 'Gistang', 'Dustang'],
 'Year': [2024, 2023, 2022],
 'Colors': ['red', 'blue', 'white']}

In [95]:
import pandas as pd

In [106]:
pd.DataFrame(dic)

   Brand     Model  Year Colors
0   Ford  Musutang  2024    red
1  Board   Gistang  2023   blue
2   Nord   Dustang  2022  white

In [107]:
dic['Model']

['Musutang', 'Gistang', 'Dustang']

In [108]:
dic['Year']

[2024, 2023, 2022]

In [110]:
dic.keys()

dict_keys(['Brand', 'Model', 'Year', 'Colors'])

In [112]:
print(dic.values())

dict_values([['Ford', 'Board', 'Nord'], ['Musutang', 'Gistang', 'Dustang'], [2024, 2023, 2022], ['red', 'blue', 'white']])

In [117]:
class SampleClass:
    att1 =10
    att2 = 20
print(SampleClass.att1)
print(SampleClass.att2)

10
20

In [120]:
n = int(input())

a,b = 0,1

for i in range(n):
    print(a, end=" ")
    a,b = b,a+b

0 1 1 2 3

In [131]:
statesandcapitals = {
    'Gujarat' : [0,'Gandhinagar'],
    'Maharashtra' : [1,'Mumbai'],
    'Rajasthan' : [2,'Jaipur'],
    'Andhra Pradesh' : [3,'Amaravati'],
    'Telangana' : [4,'Hyderabad']
}

In [132]:
for capitals in statesandcapitals.values():
    
    print(capitals)

[0, 'Gandhinagar']
[1, 'Mumbai']
[2, 'Jaipur']
[3, 'Amaravati']
[4, 'Hyderabad']

In [129]:
import pandas as pd

In [141]:
df = pd.DataFrame(statesandcapitals)
df.transpose()

                0            1
Gujarat         0  Gandhinagar
Maharashtra     1       Mumbai
Rajasthan       2       Jaipur
Andhra Pradesh  3    Amaravati
Telangana       4    Hyderabad

In [135]:
df.transpose()

                0            1
Gujarat         0  Gandhinagar
Maharashtra     1       Mumbai
Rajasthan       2       Jaipur
Andhra Pradesh  3    Amaravati
Telangana       4    Hyderabad

In [136]:
statesandcapitals.keys()

dict_keys(['Gujarat', 'Maharashtra', 'Rajasthan', 'Andhra Pradesh', 'Telangana'])

In [138]:
statesandcapitals.values()

dict_values([[0, 'Gandhinagar'], [1, 'Mumbai'], [2, 'Jaipur'], [3, 'Amaravati'], [4, 'Hyderabad']])

In [142]:
data = {
    'student 1' : {'Name' : 'Akshay','Id' : '1', 'Age': 22},
    'student 2' : {'Name': 'Rohit', 'Id': 2,'Age': 25},
    'Student 3' : {'Name':'Jasritha','Id': 3, 'Age': 22}
}

In [145]:
for i in data:
    print(data[i])

{'Name': 'Akshay', 'Id': '1', 'Age': 22}
{'Name': 'Rohit', 'Id': 2, 'Age': 25}
{'Name': 'Jasritha', 'Id': 3, 'Age': 22}

In [146]:
data[i].keys()

dict_keys(['Name', 'Id', 'Age'])

In [147]:
data.keys()

dict_keys(['student 1', 'student 2', 'Student 3'])

In [148]:
data.values()

dict_values([{'Name': 'Akshay', 'Id': '1', 'Age': 22}, {'Name': 'Rohit', 'Id': 2, 'Age': 25}, {'Name': 'Jasritha', 'Id': 3, 'Age': 22}])

In [151]:
data[i].values()

dict_values(['Jasritha', 3, 22])

In [156]:
import pandas as pd

In [158]:
df1 = pd.DataFrame(data)

In [2]:
thislist = [100, 50, 65, 82, 23]
"""thislist.sort()
print(thislist)"""

'thislist.sort()\nprint(thislist)'

In [3]:
thislist.sort()

In [4]:
thislist

[23, 50, 65, 82, 100]

In [5]:
thislist.remove(23)

In [6]:
thislist

[50, 65, 82, 100]

In [7]:
thislist.append(15)

In [8]:
thislist

[50, 65, 82, 100, 15]

In [9]:
thislist.sort()

In [10]:
thislist

[15, 50, 65, 82, 100]

In [11]:
# Key to be added
key_ref = 'More Nested Things'
my_dict = {
	'Nested Things': [{'name', 'thing one'}, {'name', 'thing two'}]
}

# Value to be added
my_list_of_things = [{'name', 'thing three'}, {'name', 'thing four'}]

# try-except to take care of errors
# while adding key-value pair
try:
	my_dict[key_ref].append(my_list_of_things)
	
except KeyError:
	my_dict = {**my_dict, **{key_ref: my_list_of_things}}
	
print(my_dict)

{'Nested Things': [{'thing one', 'name'}, {'thing two', 'name'}], 'More Nested Things': [{'thing three', 'name'}, {'name', 'thing four'}]}

In [2]:
import matplotlib.pyplot as plt

write a prgm difference b/w the 2 dates ,number of days. , number of weeks in a month ,scope variables and global variables. write a pgrm to create file with some text.

In [7]:
def myfun():
    x = 30
    def innerfun():
        print(x)
    innerfun()

myfun()

30

In [18]:
def myfun():

    global x
    x = 300
    print(x)

myfun()

300

In [19]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB 660.6 kB/s eta 0:00:22
   ---------------------------------------- 0.1/14.3 MB 1.1 MB/s eta 0:00:14
    --------------------------------------- 0.4/14.3 MB 2.5 MB/s eta 0:00:06
   -- ------------------------------------- 1.1/14.3 MB 5.6 MB/s eta 0:00:03
   ----- ---------------------------------- 2.1/14.3 MB 8.9 MB/s eta 0:00:02
   -------- ------------------------------- 2.9/14.3 MB 10.5 MB/s eta 0:00:02
   ----------- ---------------------------- 4.2/14.3 MB 13.4 MB/s eta 0:00:01
   --------------- ------------------------ 5.7/14.3 MB 15.7 MB/s eta 0:00:01
   ------------------ --------------------- 6.8/14.3 MB 16.1 MB/s eta 0:00:01
   ----------------------- ---------------- 8.4/14.3 MB 17.9 MB/s eta 0:00:01
   -------------------------- ------------- 9.5/14.3 MB 18.3 MB/s eta 0:00:01
   ------------------------------- -------- 11.2/14.3 MB 26.2 MB/s eta 0:00:01
   ----------------------------------- ---- 12.9/14.3 MB 28.5 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 29.7 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 29.7 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 25.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import mysql.connector as sql

In [24]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="12345"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001657EC800E0>